# Copyright The OpenTelemetry Authors
# SPDX-License-Identifier: Apache-2.0

# extra settings to be merged into OpenTelemetry Collector configuration
# do not delete this file

## Example configuration for sending data to your own OTLP HTTP backend
## Note: the spanmetrics exporter must be included in the exporters array
## if overriding the traces pipeline.
##

exporters:
 otlp/itrs:
   endpoint: ${ITRS_ANALYTICS_ENDPOINT}
   tls:
     insecure: ${TLS_INSECURE}

processors:
  cumulativetodelta:

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/itrs]
    metrics:
      receivers: [otlp]
      processors: [batch, cumulativetodelta]
      exporters: [otlp/itrs]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/itrs]
